<mat-progress-bar mode="indeterminate" color="warn" *ngIf="isRouting"></mat-progress-bar>
<mat-toolbar class='mat-elevation-z6'>
  <ng-container *ngIf="!screen.isMobile; else mobile">
    <span><a routerLink="/">Mist</a></span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="toggleFullScreen()">
      <mat-icon>
        {{isFullScreen ? 'fullscreen_exit' : 'fullscreen'}}
      </mat-icon>
    </button>
    <button mat-button *ngFor="let nav of navs" [routerLink]='nav.link'>{{nav.label}}</button>
  </ng-container>
  <mat-form-field floatLabel="never" [style.width]="sinput.focused ? '30vw' : '0px'">
    <mat-label>搜索</mat-label>
    <input matInput #sinput="matInput" (keydown.enter)="search(sinput.value);sinput.value = ''">
  </mat-form-field>
  <button mat-icon-button (click)="sinput.focus()">
    <mat-icon>search</mat-icon>
  </button>
  <ng-container *ngIf="auth.user;else log">
    <a [routerLink]="['/user', auth.user.uid, 'community']">
      <div class="avatar" [style.background-image]="'url('+(auth.user.avatar || 'assets/da.jpg') +')'"></div>
    </a>
    <button mat-icon-button (click)="msg.openConfirm('确定退出登录？', auth.logout())" style="margin-right: -5px;">
      <mat-icon>
        logout
      </mat-icon>
    </button>
  </ng-container>
</mat-toolbar>
<ng-template #mobile>
  <button mat-icon-button (click)="openMenu(bts)">
    <mat-icon>list</mat-icon>
  </button>
  <span class="spacer"></span>
  <span><a routerLink="/">Mist</a></span>
  <span class="spacer"></span>
</ng-template>
<ng-template #log>
  <button mat-button routerLink="/user/login">登录 / 注册</button>
</ng-template>
<div class="subroute" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>

<ng-template #bts>
  <mat-nav-list (click)="closeMenu()">
    <mat-list-item *ngFor="let nav of navs" [routerLink]='nav.link'>
      {{nav.label}}
    </mat-list-item>
  </mat-nav-list>
</ng-template>
