<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="infoForm">
    <form [formGroup]="infoForm">
      <ng-template matStepLabel>填写信息</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>标题</mat-label>
        <input matInput formControlName="title">
        <mat-error>标题是必须的</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>价格(元)</mat-label>
        <input matInput formControlName="price" type='number'>
        <mat-error>价格是必须的</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>标签</mat-label>
        <mat-chip-list #chipList errorState=true>
          <mat-chip *ngFor="let tag of tagList.controls;let i=index" selectable removable (removed)="removeTag(i)">
            {{tag.value}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input [matChipInputFor]="chipList" matChipInputAddOnBlur (matChipInputTokenEnd)="addTag($event)">
        </mat-chip-list>
        <mat-error>至少添加一个标签</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>描述</mat-label>
        <textarea matInput formControlName="desc" cdkTextareaAutosize></textarea>
      </mat-form-field>
      <div align="center">
        <button mat-stroked-button [disabled]='!infoForm.valid' (click)="create(stepper)" mistUpButton [progress]="isSubmitting"
          *ngIf="!cid">提交</button>
        <button matStepperNext mat-stroked-button *ngIf="cid">下一步</button>
      </div>
    </form>
  </mat-step>
  <!-- <mat-step [stepControl]='uploder.uploadForm'>
    <ng-template matStepLabel>上传视频</ng-template>
    <mist-upload [cid]="cid" #uploder></mist-upload>
    <div class="action">
      <button mat-stroked-button [disabled]='!uploder.uploadForm.valid' (click)="uploder.submit()" mistUpButton [progress]="uploder.isSubmiting">上传视频</button>
      <button matStepperNext mat-stroked-button routerLink="/video">结束</button>
    </div>
  </mat-step> -->
</mat-horizontal-stepper>
