<mist-masonry [columns]='screen.currentScreen' [tpl]="vcard" [datasets]="videos"></mist-masonry>
<mat-progress-spinner mode="indeterminate" diameter=32 *ngIf="isLoading" color="warn"></mat-progress-spinner>
<ng-template #vcard let-video>
  <mat-card>
    <a [routerLink]="['/video', video.id]"><img mat-card-image [src]="video?.cover"></a>
    <mat-chip-list>
      <mat-chip [routerLink]="['/user', video.owner.uid, 'videos']">
        <img [src]="video.owner.avatar || 'assets/da.jpg'" matChipAvatar>
        {{video.owner.nickName}}
      </mat-chip>
    </mat-chip-list>
    <mat-card-title>
      {{video.title}}
    </mat-card-title>
    <mat-card-content>
      <span>{{video.date | moment}}</span>
      <span class="spacer"></span>
      <mat-icon style="color: green">play_circle_outline</mat-icon>
      <span>{{video.view | quantity}}</span>
      <mat-icon color="warn">favorite</mat-icon>
      <span>{{video.likes | quantity}}</span>
      <ng-container *ngIf="video.comments">
        <mat-icon style="color: blue">comment</mat-icon>
        <span>{{video.comments}}</span>
      </ng-container>
    </mat-card-content>
  </mat-card>
</ng-template>

<button mat-fab routerLink="/video/upload">
  <mat-icon>
    video_call
  </mat-icon>
</button>
