.avatar {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-size: cover;
  opacity: 0;
  transition: 0.3s;
}

.item:hover .avatar {
  opacity: 1;
}

.info {
  display: flex;

  padding: {
    left: 8px;
    right: 8px;
    bottom: 8px;
  }

  align-items: center;
  font-size: 14px;

  .mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;

    margin: {
      left: 3px;
      right: 3px;
    }
  }
}

.container {
  display: grid;
  grid-gap: 8px;
  animation: showup 0.5s ease;
}

img {
  width: 100%;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;

  .title {
    margin: 8px;
  }
}

.mat-fab {
  position: fixed;
  bottom: 35px;
  right: 35px;
}

.wrapper {
  padding: 8px;
  max-width: 1200px;
  margin: auto;

  .tag {
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;

    >div {
      display: flex;
      cursor: pointer;
    }

    >a {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
