<div *ngFor="let videos of tagVideos;let ti=index" class="wrapper">
  <div class="tag">
    <a [routerLink]="['/video/category', ti + 1]">{{_video.tags[ti]}}</a>
    <span class="spacer"></span>
    <div (click)="refresh(ti)">
      <mat-icon [class.spin]="isLoading[ti]">refresh</mat-icon>
      <span>换一批</span>
    </div>
  </div>
  <div class="container" [style.grid-template-columns]="'repeat('+(screen.currentScreen+1)+ ', 1fr)'|sanitize:'style'">
    <div *ngFor="let video of videos" class="item mat-elevation-z1">
      <a [routerLink]="['/video', video.id]"><img [src]="video.cover"></a>
      <a [routerLink]="['/user', video.owner.uid, 'videos']">
        <div class="avatar mat-elevation-z1"
          [style.background-image]="'url('+(video.owner.avatar || 'assets/da.jpg') +')'"
          [matTooltip]="video.owner.nickName"></div>
      </a>
      <div class="title line2">{{video.playlist ? video.playlist.title : video.title}}</div>
      <div class="spacer"></div>
      <div class="info">
        <span>{{video.date | moment}}</span>
        <span class="spacer"></span>
        <ng-container *ngIf="video.playlist">
          <mat-icon style="color: purple">playlist_play</mat-icon>
          <span>{{video.nvideos}}</span>
        </ng-container>
        <mat-icon style="color: green">play_circle_outline</mat-icon>
        <span>{{video.view | quantity}}</span>
        <mat-icon color="warn">favorite</mat-icon>
        <span>{{video.likes | quantity}}</span>
        <ng-container *ngIf="video.comments">
          <mat-icon style="color: blue">comment</mat-icon>
          <span>{{video.comments}}</span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<button mat-fab routerLink="/video/upload">
  <mat-icon>
    video_call
  </mat-icon>
</button>
