.mat-chip-list {
  position: absolute;
  right: 5px;
  top: 5px;
  opacity: 0.8;
}
.info {
  display: flex;
  padding: {
    left: 8px;
    right: 8px;
    bottom: 8px;
  }
  align-items: center;
  font-size: 14px;
  .mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    margin: {
      left: 3px;
      right: 3px;
    }
  }
}

.container {
  display: grid;
  padding: 8px;
  grid-gap: 8px;
  max-width: 1200px;
  margin: auto;
}
img {
  width: 100%;
}
.item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  .title {
    margin: 8px;
    max-height: 3em;
    line-height: 1.5em;
    overflow: hidden;
  }
}

.mat-fab {
  position: fixed;
  bottom: 35px;
  right: 35px;
}
.mat-progress-spinner {
  margin: 15px auto;
}