.container {
  max-width: 1200px;
  margin: auto;
  padding: 5px;
  display: grid;
  grid-gap: 5px;
}

.item {
  display: flex;
  width: 100%;

  .info {
    width: 100%;
    margin-left: 8px;
    display: flex;
    flex-direction: column;

    .mat-icon {
      margin-left: 10px;
      color: purple;
    }

    .footer {
      display: flex;
      align-items: center;
    }
  }
}

.mat-progress-spinner {
  margin: 15px auto;
}
