<ng-container *ngIf="showUser.authed;else notauth">
  <form [formGroup]="infoForm">
    <mat-form-field appearance="outline">
      <mat-label>昵称</mat-label>
      <input matInput formControlName="nickName">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>个人简介</mat-label>
      <input matInput formControlName="sign">
    </mat-form-field>
  </form>
  <div class="golden">
    <img [src]="showUser.golden || ''">
  </div>
  <div class="action">
    <button mat-button [disabled]="!infoForm.dirty" (click)="updateInfo()">更新资料</button>
    <button mat-button (click)="changeAvatar()">换头</button>
    <button mat-button (click)="changeBkg()">换墙</button>
    <button mat-button (click)="changeGolden()">上传打赏码</button>
  </div>
</ng-container>
<ng-template #notauth>
  <p>加入于{{showUser.jd*1000 | date}}</p>
  <p>生日{{showUser.birth || '未填写'}}</p>
  <p>个人主页<a [href]="hpl.innerText" #hpl>{{showUser.home || 'https://spectrumlife.online/user/'+showUser.uid}}</a></p>
  <div class="golden">
    <img [src]="showUser.golden || ''">
  </div>
</ng-template>
<ng-template #croptpl>
  <input #infile (change)="changeSrc(infile.files[0]);" type="file" accept="image/*" style="display: none">
  <div [ngStyle]="style">
    <img mistCropper [ratio]="ratio" [cropImg]='imgSrc' #crp="mistCropper">
  </div>
  <div class="choose">
    <div id="pre" *ngIf="hasPreview"></div>
    <button mat-fab (click)='infile.click()'>
      <mat-icon>
        cloud_upload
      </mat-icon>
    </button>
  </div>
  <div class="choose">
    <button mat-button (click)='dialogRef.close()'>取消</button>
    <button mat-button (click)="save(crp.getCanvas(cropWidth, cropHeight))" mistUpButton [progress]="isSubmit">保存</button>
  </div>
</ng-template>
