.propic {
  width: 100%;
  background-color: yellowgreen;
  background-size: cover;
  position: relative;
  background-position: center;
}

.info {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 10px;
  align-items: center;

  .avatar {
    border-radius: 50%;
    background-size: cover;
    text-align: center;
    margin-right: 15px;
  }
}

.probutton {
  position: absolute;
  right: 10px;
  bottom: 10px;
}