.propic {
  width: 100%;
  background-color: yellowgreen;
  background-size: cover;
  position: relative;
  background-position: center;
}
.avatar {
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-size: cover;
  text-align: center;
}
.probutton {
  position: absolute;
  right: 10px;
  bottom: 10px;
}