<div class="propic" [style.background-image]="auth.user.profilePic === '' ? '' : 'url('+auth.user.profilePic+')'"
  [style.height]="screen.isMobile ? '180px' : '250px'">
  <div class="info">
    <div class="avatar" [style.background-image]="'url(' + (auth.user.avatar || 'assets/da.jpg')+')'" [style.height]="screen.isMobile ? '60px' : '90px'"
      [style.width]="screen.isMobile ? '60px' : '90px'">
    </div>
    <div>
      {{auth.user.nickName}}
    </div>
  </div>
</div>
<nav mat-tab-nav-bar mat-stretch-tabs disableRipple>
  <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<div [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>
