.mat-fab {
  position: fixed;
  bottom: 35px;
  right: 35px;
}

.info {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.avatar {
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.container {
  padding: 10px;
}

.body {
  word-break: break-all;
  white-space: pre-line;

  >div {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
  }

  >span {
    font-size: 14px;
    color: green;
    text-decoration: underline;
    cursor: pointer;
  }
}

.gallery {
  padding-top: 10px;
  margin: -10px;
  display: grid;
  grid-gap: 2px;

  >img {
    width: 100%;
    cursor: pointer;
  }
}

.mat-progress-spinner {
  margin: 15px auto;
}

.viewimg {
  max-width: 100%;
  display: block;
}

.mat-icon-button {
  position: fixed;
  top: calc(50% - 20px);
}
