<div class="container">
  <div class="upload" [style.grid-template-columns]="screen.isMobile ? '1fr' : '2fr 8fr'">
    <ng-container *ngFor="let item of uploadfiles;let i=index">
      <img [src]="item.cover" *ngIf="item.cover;else status">
      <ng-template #status>
        <div>
          <div [style.color]="uploadfiles[i].cover ? 'green' : 'black'">
            进度: {{uploadfiles[i].msg}}
          </div>
          <div align="end">
            <button mat-button (click)="removeFile(i)">
              删除
            </button>
          </div>
        </div>
      </ng-template>
      <div>
        <form [formGroup]="uploadForm.controls[i]">
          <mat-form-field appearance="outline">
            <mat-label>视频标题</mat-label>
            <input matInput formControlName="title">
            <mat-error>标题是必须的</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>视频分类</mat-label>
            <mat-select formControlName="tag" required>
              <mat-option *ngFor="let item of _video.tags;let tagi=index" [value]="tagi+1">
                {{item}}
              </mat-option>
            </mat-select>
            <mat-error>请选择一个视频分类</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>视频描述</mat-label>
            <textarea matInput cdkTextareaAutosize formControlName="desc"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>封面位置(秒)</mat-label>
            <input matInput formControlName="coverPos" type="number">
            <mat-error>视频封面位置是必须的</mat-error>
          </mat-form-field>
        </form>
        <mat-divider></mat-divider>
      </div>
    </ng-container>
  </div>
  <div align="center" class="choose">
    <button mat-fab (click)="infile.click()" matTooltip="点击选择文件">
      <mat-icon>
        cloud_upload
      </mat-icon>
    </button>
  </div>
  <div class="action">
    <button mat-stroked-button [disabled]='!uploadForm.valid' (click)="submit()" mistUpButton
      [progress]="isSubmiting">上传</button>
    <button mat-stroked-button routerLink="/video">结束</button>
  </div>
</div>
<input multiple #infile (change)="addFiles(infile.files)" type="file" accept=".mp4, .mkv" style="display: none">
