<mat-sidenav-container>
  <mat-sidenav #sidenav position="end" [mode]="!screen.isMobile ? 'side' : 'over'" [opened]="!screen.isMobile">
    <ng-container *ngIf="video.playlist">
      <div class="listinfo">正在播放: {{video.playlist.title}}</div>
      <cdk-virtual-scroll-viewport itemSize="90" class="playlist">
        <div *cdkVirtualFor="let vid of video.plists;let i=index" class="recitem"
          (click)="screen.isMobile ? sidenav.close() : ''" [style.background]="video.id === vid.id ? 'pink' : ''">
          <a [routerLink]="['/video', vid.id]"><img [src]="vid.cover"></a>
          <div>
            <div class="line3">
              {{vid.title}}
            </div>
            <span class="spacer"></span>
            <div>
              {{vid.date|moment}} · {{vid.view|quantity}} 播放
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </ng-container>
    <div class="listinfo">为您推荐</div>
    <cdk-virtual-scroll-viewport itemSize="90" class="vscroll">
      <div *cdkVirtualFor="let vid of video.recommend;let i=index" class="recitem"
        (click)="screen.isMobile ? sidenav.close() : ''">
        <a [routerLink]="['/video', vid.id]"><img [src]="vid.cover"></a>
        <div>
          <div class="line2">
            {{vid.title}}
          </div>
          <span class="spacer"></span>
          <div>
            {{vid.date|moment}} · {{vid.view|quantity}} 播放
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="video">
      <video mistP2PHls controls [src]="video.path" [poster]="video.cover" playsinline #peervideo="p2pHls">
        <track *ngFor="let sub of video.subtitle;let sii=index" [src]="sub" kind="subtitles" [label]="'字幕'+(sii+1)"
          default>
      </video>
      <div class="btinfo">
        <span>Peers: {{peervideo.numPeers}}</span>
        <span>上传: {{(peervideo.uploaded | numeric)}}</span>
      </div>
    </div>
    <div class="header">
      <h2>{{video.title}}</h2>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>
          playlist_play
        </mat-icon>
      </button>
    </div>
    <div class="header">
      <span>{{video.view}}次观看</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="like(video, '1')" [style.color]="video.isliked ? 'blue':''">
        <mat-icon>
          thumb_up
        </mat-icon>
      </button>
      <span>{{video.likes}}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="info">
      <div class="avatar" [style.background-image]="'url(' + (video.owner.avatar || 'assets/da.jpg')+')'">
      </div>
      <div>
        <div>{{video.owner.nickName}}</div>
        <div>发布于{{video.date*1000| date:'short'}}</div>
      </div>
      <ng-container *ngIf="video.playlist && video.playlist.desc">
        <div></div>
        <div class="tk">{{video.playlist.desc}}</div>
      </ng-container>
      <ng-container *ngIf="video.desc">
        <div></div>
        <div class="tk">{{video.desc}}</div>
      </ng-container>
    </div>
    <mat-divider></mat-divider>
    <div>
      <mist-comment [item]="video.id" [type]="'1'"></mist-comment>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
