<mat-sidenav-container>
  <mat-sidenav #sidenav position="end" [mode]="!screen.isMobile ? 'side' : 'over'" [opened]="!screen.isMobile">
    <cdk-virtual-scroll-viewport itemSize="135" class="vscroll">
      <div *cdkVirtualFor="let vid of video.videos;let i=index" class="item">
        <div class="wrapper" (click)="currentVideo = i;screen.isMobile ? sidenav.toggle() : ''">
          <img [src]="vid.cover">
          <div>{{vid.title}}</div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="video">
      <video mistDash controls [src]="video.videos[currentVideo].path" [poster]="video.videos[currentVideo].cover"></video>
      <!-- <ng-template mistP2pvideo [torrent]="video.videos[currentVideo].path" #btclient="p2pVideo">
        <video controls [poster]="video.videos[currentVideo].cover"></video>
      </ng-template>
      <div class="btinfo">
        <span>Peers: {{btclient.getInfo()?.numPeers}}</span>
        <span>下载: {{(btclient.getInfo()?.downloadSpeed | numeric) + '/s'}}</span>
        <span>上传: {{(btclient.getInfo()?.uploadSpeed | numeric) + '/s'}}</span>
      </div> -->
    </div>
    <div class="header">
      <h2>{{video.title}}</h2>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>
          playlist_play
        </mat-icon>
      </button>
    </div>
    <div class="header">
      <span>{{video.view}}次观看</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon>
          thumb_up
        </mat-icon>
      </button>
      <span>1994</span>
      <button mat-icon-button>
        <mat-icon>
          thumb_down
        </mat-icon>
      </button>
      <span>1994</span>
    </div>
    <mat-divider></mat-divider>
    <div class="info">
      <div class="avatar" [style.background-image]="'url(' + (video.owner.avatar || 'assets/da.jpg')+')'">
      </div>
      <div>
        <div>{{video.owner.nickName}}</div>
        <div>发布于{{video.date*1000| date:'short'}}</div>
      </div>
      <div></div>
      <div>{{video.desc}}</div>
    </div>
    <mat-divider></mat-divider>
    <div>
      <form *ngIf="auth.user" [formGroup]="commentForm" #formDirective="ngForm">
        <mat-form-field>
          <mat-label>说点什么...</mat-label>
          <textarea matInput cdkTextareaAutosize formControlName="text"></textarea>
        </mat-form-field>
        <button mat-button (click)="sendComment(formDirective)" [disabled]="!commentForm.valid" mistUpButton [progress]="isSubmitting">评论</button>
      </form>
      <div class="info comments">
        <ng-container *ngFor="let com of comments;let comi=index">
          <div class="avatar" [style.background-image]="'url(' + (comments_owners[com.owner].avatar || 'assets/da.jpg')+')'">
          </div>
          <div>
            <div>{{comments_owners[com.owner].nickName}} | 发布于{{com.date|moment}}</div>
            <div>{{com.text}}</div>
            <div class="action">
              <button mat-icon-button>
                <mat-icon>thumb_up</mat-icon>
              </button>
              <span>10</span>
              <button mat-icon-button>
                <mat-icon>thumb_down</mat-icon>
              </button>
              <span>10</span>
              <button mat-button (click)="initReply(comi)">回复</button>
            </div>
            <form *ngIf="replyForm[comi]" [formGroup]="replyForm[comi].form">
              <span class="at" *ngIf="replyForm[comi].form.get('at').value">{{'@'+comments_owners[replyForm[comi].form.get('at').value].nickName}}</span>
              <mat-form-field>
                <mat-label>回复</mat-label>
                <textarea matInput cdkTextareaAutosize formControlName="text"></textarea>
              </mat-form-field>
              <button mat-button (click)="sendReply(comi)" [disabled]="!replyForm[comi].form.valid" mistUpButton
                [progress]="replyForm[comi].isReply">回复</button>
            </form>
            <button mat-button *ngIf="com.reply&&!com.isGetReply" (click)="getReply(comi)">展开所有{{com.reply}}条评论</button>
            <mat-progress-spinner mode="indeterminate" diameter=36 *ngIf="com.isGetReply" color="warn"></mat-progress-spinner>
            <div class="info comments" *ngIf="com.replys" style="margin-left: -25px;">
              <ng-container *ngFor="let reply of com.replys">
                <div class="avatar" [style.background-image]="'url(' + (comments_owners[reply.owner].avatar || 'assets/da.jpg')+')'"></div>
                <div>
                  <div>{{comments_owners[reply.owner].nickName}} | 发布于{{reply.date|moment}}</div>
                  <div><a class="at" *ngIf="reply.at" [routerLink]="['/user', reply.at]">{{'@'+comments_owners[reply.at].nickName}}</a>{{reply.text}}</div>
                  <div class="action">
                    <button mat-icon-button>
                      <mat-icon>thumb_up</mat-icon>
                    </button>
                    <span>10</span>
                    <button mat-icon-button>
                      <mat-icon>thumb_down</mat-icon>
                    </button>
                    <span>10</span>
                    <button mat-button (click)="initReply(comi, reply.owner)">回复</button>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
