<mat-sidenav-container>
  <mat-sidenav #sidenav position="end" [mode]="screen.currentScreen >= 2 ? 'side' : 'over'" [opened]="screen.currentScreen >= 2">
    <cdk-virtual-scroll-viewport itemSize="135" class="vscroll">
      <div *cdkVirtualFor="let vid of video.videos;let i=index" class="item">
        <div class="wrapper" (click)="changeSrc(i);screen.currentScreen >= 2 ? '' : sidenav.toggle()">
          <img [src]="vid.cover">
          <div>{{vid.title}}</div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="header">
      <h2>{{video.title}}</h2>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>
          playlist_play
        </mat-icon>
      </button>
    </div>
    <div class="video">
      <ng-template mistP2pvideo [torrent]="video.videos[currentVideo].path" #btclient="p2pVideo">
        <video controls [poster]="video.videos[currentVideo].cover"></video>
      </ng-template>
      <div class="btinfo">
        <span>Peers: {{btclient.getInfo()?.numPeers}}</span>
        <span>下载: {{(btclient.getInfo()?.downloadSpeed | numeric) + '/s'}}</span>
        <span>上传: {{(btclient.getInfo()?.uploadSpeed | numeric) + '/s'}}</span>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
