.action {
  padding: {
    left: 10px;
    right: 10px;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-form-field {
  width: 100%;
}

.title {
  max-width: 25vw;
  padding-right: 3px;

  >div>a:hover {
    text-decoration: underline;
    color: palevioletred;
  }
}

table {
  width: 100%;

  img {
    margin-top: 3px;
    margin-left: -20px;
    margin-right: 5px;
    width: 110px;
    max-height: 65px;
  }
}

.tabcontainer {
  width: 100%;
  overflow: auto;
}
