.info {
  display: flex;
  align-items: center;
}
.avatar {
  flex: 0 0 48px;
  height: 48px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 15px;
}
.container {
  margin: auto;
  display: flex;
  padding: 20px;
  max-width: 1000px;
}
.mat-form-field {
  width: 100%;
}
.preview {
  display: grid;
  grid-gap: 10px;
  justify-content: stretch;
}
.wrapper {
  position: relative;
  >img {
    width: 100%;
    max-height: 250px;
    height: 100%;
    border-radius: 8px;
  }
  .msg {
    position: absolute;
    right: 5px;
    top: 5px;
    color: red;
  }
}