<div class="container">
  <div class="avatar" [style.background-image]="'url('+(auth.user.avatar || 'assets/da.jpg') +')'"></div>
  <div style="width: 100%;">
    <mat-form-field>
      <mat-label>这一刻的想法...</mat-label>
      <textarea matInput cdkTextareaAutosize [(ngModel)]="cont"></textarea>
    </mat-form-field>
    <div class="preview" [style.grid-template-columns]="screen.isMobile ? '1fr 1fr':'1fr 1fr 1fr 1fr'">
      <div class="wrapper" *ngFor="let img of imgItem;let i=index">
        <img [src]="img.url | sanitize:'url'">
        <div class="msg">
          <button mat-icon-button *ngIf="img.deletable;else msgcont" (click)="delete(i)">
            <mat-icon>
              {{img.done ? "done" : "delete"}}
            </mat-icon>
          </button>
          <ng-template #msgcont>
            <strong>{{img.msg}}</strong>
          </ng-template>
        </div>
      </div>
      <div class="wrapper">
        <video [src]="videoUrl|sanitize:'url'" *ngIf="videoUrl"></video>
        <div class="msg">
          <strong>{{videoItem.msg}}</strong>
        </div>
      </div>
    </div>
    <div class="info">
      <button mat-icon-button (click)="infile.click()" [disabled]="videoItem.file">
        <mat-icon>
          photo
        </mat-icon>
      </button>
      <button mat-icon-button (click)="invideo.click()" [disabled]="imgItem.length > 0">
        <mat-icon>
          videocam
        </mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-button routerLink="../">取消</button>
      <button mat-button (click)="submit()" [disabled]='!(cont||imgItem.length||videoItem.file)' mistUpButton
        [progress]="isSubmitting">发布</button>
    </div>
  </div>
</div>
<input multiple #infile (change)="addFiles(infile.files)" type="file" accept="image/*" style="display: none">
<input #invideo (change)="addVideo(invideo.files)" type="file" accept="video/mp4" style="display: none">
