.mat-fab {
  position: fixed;
  z-index: 2;
  bottom: 35px;
  right: 35px;
}

.container {
  display: grid;
  padding: 10px;
  grid-gap: 10px;
}

.item {
  border-radius: 4px;
  overflow: hidden;
  position: relative;

  >img {
    width: 100%;
    cursor: pointer;
  }

  .indicate {
    position: absolute;
    right: 5px;
    top: 5px;
    color: violet;
  }
}
.mat-progress-spinner {
  margin: 15px auto;
}