<div class="container">
  <div class="hvr-wobble-horizontal"><mat-icon>movie</mat-icon><a routerLink="/video">视频</a></div>
  <div class="hvr-wobble-horizontal"><mat-icon>photo</mat-icon><a routerLink="/gallery">图片</a></div>
  <div class="hvr-wobble-horizontal"><mat-icon>free_breakfast</mat-icon><a routerLink="/community">社区</a></div>
  <div class="hvr-wobble-horizontal"><mat-icon>chat</mat-icon><a routerLink="/chatroom">聊天</a></div>
  <div class="hvr-wobble-horizontal"><mat-icon>send</mat-icon><a href="mailto:jiangfengwhu2011@gmail.com">关于</a></div>
</div>
