.container {
  height: 100vh;
  background-image: url('/assets/bc.jpg');
  margin-top: -48px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  padding: 20px;
  >div {
    font-size: 36px;
  }
}
