.body {
  display: flex;
  position: relative;

  >div {
    width: 50%;
    padding-top: calc(50vh - 72px);
    text-align: center;
    font-size: 36px;
    height: calc(100vh - 48px);
  }
}

span {
  display: flex;
  justify-content: space-around;
  position: absolute;
  font-size: 16px;
  color: green;
  bottom: 0px;
  left: 0;
  right: 0;
}

img {
  max-width: 300px;
  display: block;
}
