mat-form-field {
  width: 100%;
}

.action {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cont1 {
  padding: 10px;
  display: grid;

  form .mat-form-field {
    padding-right: 10px;
  }
}
img {
  width: 100%;
  border-radius: 4px;
}
