<div class="container">
  <ng-container *ngFor="let item of datasets;let i=index">
    <div class="gallery" [style.grid-template-columns]="!item.pics || item.pics.length===1 ? '1fr' : '1fr 1fr'">
      <ng-container *ngIf="item.pics">
        <img [src]="img+'_thb.jpeg'" *ngFor="let img of item.pics.slice(0, 4);let j=index" (click)="openDetail(detail, j, item)">
      </ng-container>
    </div>
    <div class="body" [style.margin-left]="item.pics ? '' : '-140px'">
      <div>
        <span>{{item.date*1000|date:'medium'}}</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="_msg.openConfirm('确认删除此条状态吗？(不可恢复)', delComms(i))" *ngIf='showUser.authed'>
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </div>
      {{item.cont}}
      <br>
      {{item?.embed}}
    </div>
  </ng-container>
</div>

<ng-template #detail let-data>
  <div class="detail">
    <div class='ac'>
      <div (click)="data.index = data.index === 0 ? data.ref.pics.length-1 : data.index-1"></div>
      <div (click)="_msg.dialogRef.close()"></div>
      <div (click)="data.index = data.index===data.ref.pics.length-1 ? 0 : data.index+1"></div>
    </div>
    <img [src]="data.ref.pics[data.index]" class="viewimg" mistLoader>
  </div>
</ng-template>
