<div class="container">
  <ng-container *ngFor="let item of datasets;let i=index">
    <div class="gallery" [style.grid-template-columns]="!item.pics || item.pics.length===1 ? '1fr' : '1fr 1fr'">
      <ng-container *ngIf="item.pics">
        <img [src]="img+'_thb.jpeg'" *ngFor="let img of item.pics.slice(0, 4);let j=index" (click)="openDetail(detail, j, item)">
      </ng-container>
    </div>
    <div class="body">
      <div>
        <span>{{item.date*1000|date:'medium'}}</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="_msg.openConfirm('确认删除此条状态吗？(不可恢复)', delComms(i))" *ngIf='showUser.authed'>
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </div>
      {{item.cont}}
    </div>
  </ng-container>
</div>

<ng-template #detail let-data>
  <img [src]="data.ref.pics[data.index]" (click)="dialogRef.close()" class="viewimg" mistLoader>
  <button mat-icon-button style="left: 20px;" (click)="data.index = data.index-1" [disabled]="data.index===0" class="navb">
    <mat-icon>
      chevron_left
    </mat-icon>
  </button>
  <button mat-icon-button style="right: 20px;" (click)="data.index = data.index+1" [disabled]="data.index===data.ref.pics.length-1"
    class="navb">
    <mat-icon>
      chevron_right
    </mat-icon>
  </button>
</ng-template>
